.home{
    
        
  
    right: 150px;
    background-color:pleech;
    color:black;
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
    width: 33%;
    position: absolute;
    overflow: auto;
    
    
  
}